// SPDX-License-Identifier: GPL-2.0

#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/input/gpio-keys.h>

/ {
	aliases {
		serial3 = &uarte; //serial@3140000
	};

	regulator-vdd-3v3-pcie {
		gpio = <&gpio TEGRA234_MAIN_GPIO(H, 4) 0>;
		/delete-property/ regulator-boot-on;
	};
	regulator-vdd-12v-pcie {
		/delete-property/ regulator-boot-on;
		/delete-property/ gpio;
		regulator-always-on;
	};
	regulator@3 {
		regulator-boot-on;
	};

	bus@0 {
		serial@3140000 { //for RS232-422-485 communication
			status = "okay";
			compatible = "nvidia,tegra194-hsuart";
			reset-names = "serial";
			clock-names = "serial";
		};

		serial@3110000 {
			status = "okay";
			reset-names = "serial";
			clock-names = "serial";
		};

		padctl@3520000 {
			status = "okay";

			ports {
				usb2-0 {
					status = "okay";
					vbus-supply = <&vdd_5v0_sys>;
					mode = "otg";
					usb-role-switch;
					/delete-node/ port;
					connector {
						compatible = "usb-b-connector", "gpio-usb-b-connector";
						label = "micro-USB";
						type = "micro";
						vbus-gpios = <&gpio TEGRA234_MAIN_GPIO(Z, 1) GPIO_ACTIVE_LOW>;
					};
				};

				usb2-1 {
					/delete-node/ port;
				};

				usb3-0 {
					nvidia,usb2-companion = <1>;
					status = "okay";
					/delete-node/ port;
				};

				usb3-1 {
					nvidia,usb2-companion = <0>;
					status = "okay";
					/delete-node/ port;
				};

				usb3-2 {
					nvidia,usb2-companion = <2>;
					status = "okay";
				};
			};
		};

		usb@3550000 {
			status = "okay";
			phys = <&{/bus@0/padctl@3520000/pads/usb2/lanes/usb2-0}>,
			       <&{/bus@0/padctl@3520000/pads/usb3/lanes/usb3-1}>;
			phy-names = "usb2-0", "usb3-1";
		};

		//ethernet@6900000 // already disabled
		//ethernet@6a00000 // already disabled
		//ethernet@6b00000 // already disabled

		// 10G Switch Config
		chosen {
			nvidia,ether-mac0 = "48:B0:2D:68:C9:1B";
			nvidia,ether-mac1 = "48:B0:2D:68:C9:1C";
		};
		ethernet@6800000 {
			status = "okay";
			nvidia,mac-addr-idx = <1>;

			/* 1=enable, 0=disable */
			nvidia,pause_frames = <1>;
			phy-mode = "10gbase-r";

			local-mac-address = [1a 2b 3c 4d 5e 6e];
			nvidia,phy-reset-gpio = <&gpio TEGRA234_MAIN_GPIO(Y, 1) 0>;
			nvidia,mdio_addr = <0>;

			/* 1:10G, 0:5G */
			nvidia,uphy-gbe-mode = <1>;
			/* 0:XFI 10G, 1:XFI 5G, 2:USXGMII 10G, 3:USXGMII 5G */
			nvidia,phy-iface-mode = <0>;
			nvidia,max-platform-mtu = <16383>;

			/delete-property/ snps,axi-config;
			/delete-property/ phy-handle;
			/delete-property/ nvidia,macsec-enable;
			/delete-property/ nvidia,mdio_addr;
			/delete-node/ stmmac-axi-config;
			/delete-node/ mdio;

			fixed-link {
				speed = <10000>;
				full-duplex;
			};
		};

		ethernet@2310000 { //EQOS
			status = "okay";

			nvidia,mac-addr-idx = <0>;
			nvidia,pause_frames = <1>;
			local-mac-address = [1a 2b 3c 4d 5e 6f];
			nvidia,phy-reset-gpio = <&gpio TEGRA234_MAIN_GPIO(G, 5) 0>;
			phy-mode = "rgmii-id";
			phy-handle = <&phy>;
			nvidia,max-platform-mtu = <16383>; //8000

			mdio {
				compatible = "nvidia,eqos-mdio";
				#address-cells = <1>;
				#size-cells = <0>;

				phy: phy@0 {
					reg = <0>;
					nvidia,phy-rst-pdelay-msec = <224>; /* msec */
					nvidia,phy-rst-duration-usec = <10000>; /* usec */
					interrupt-parent = <&gpio>;
					interrupts = <TEGRA234_MAIN_GPIO(G, 4) IRQ_TYPE_LEVEL_LOW>;
					marvell,copper-mode;
					/* Setup LED[2] as interrupt pin (active low) */
					marvell,reg-init = <0x03 0x12 0x7fff 0x880>;
				};
			};
		};

		i2c@c240000 {
			status = "okay";

			/delete-node/ typec@8;
		};

		i2c@3190000 {
			pcf8574a: gpio@38 {
				compatible = "nxp,pcf8574a";
				reg = <0x38>;
				gpio-controller;
				#gpio-cells = <2>;

				pcf8574a_outlow {
					gpio-hog;
					gpios = <0 0 1 0 2 0 3 0 4 0 5 0 6 0 7 0>;
					output-low;
				};
			};
		};

		i2c@c250000 {
			status = "okay";

			tmp102: tmp102@49 { // Temperature Sensor
				compatible = "ti,tmp102";
				reg = <0x49>;
				#thermal-sensor-cells = <0>;
			};
		};

		pcie@14180000 { // PCIe x1 (C0)
			status = "okay";
			phys = <&p2u_hsio_0>;
			phy-names = "p2u-0";
		};

		pcie@141e0000 { // PCIe x8 (C7)
			status = "disabled";
		};
	};
};
