/*
 * Top level DTS file for CVM:P3767-0000 and CVB:DSBOARD-NX2.
 *
 * Copyright (c) 2021-2022, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;
#include "tegra234-dcb-p3767-0000-hdmi.dtsi"
#include <tegra234-soc/mods-simple-bus.dtsi>
#include <t234-common-cvm/tegra234-thermal.dtsi>
#include <t234-common-cvm/tegra234-cpuidle.dtsi>
#include <t234-common-cvm/tegra234-thermal-cooling.dtsi>
#include <t234-common-cvm/tegra234-thermal-userspace-alert.dtsi>
#include "cvm/tegra234-p3767-0000.dtsi"
#include "cvb/tegra234-p3509-a02.dtsi"

#undef CAM_I2C_MUX
#define CAM_I2C_MUX TEGRA234_MAIN_GPIO(Q, 6)

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;
	compatible = "nvidia,p3509-0000+p3767-0000", "nvidia,tegra234", "nvidia,tegra23x";
	model = "Orin NX for DSBOARD-NX2";
	//model = "Orin NX for DSBOARD-NX2 (rev-1.21; 1.1 & 1.0)";

	i2c@c250000 {
		pcf8574a: gpio@38 {
			compatible = "nxp,pcf8574a";
			reg = <0x38>;
			//interrupt-parent = <&irqpin2>;
			//interrupts = <3 0>;
			gpio-controller;
			#gpio-cells = <2>;
			//interrupt-controller;
			//#interrupt-cells = <2>;
		};
	};


	tegra-capture-vi  {
		ports {
			port@0 {
				rbpcv2_imx219_vi_in0: endpoint {
					status = "okay";
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_imx219_csi_out0>;
				};
			};
			port@1 {
				rbpcv2_imx219_vi_in1: endpoint {
					status = "okay";
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_imx219_csi_out1>;
				};
			};
		};
	};

	host1x@13e00000 {
		nvcsi@15a00000 {
			channel@0 {
				ports {
					port@0 {
						rbpcv2_imx219_csi_in0: endpoint@0 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&rbpcv2_imx219_out0>;
						};
					};
					port@1 {
						rbpcv2_imx219_csi_out0: endpoint@1 {
							status = "okay";
						};
					};
				};
			};
			channel@1 {
				ports {
					port@0 {
						rbpcv2_imx219_csi_in1: endpoint@2 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&rbpcv2_imx219_out1>;
						};
					};
					port@1 {
						rbpcv2_imx219_csi_out1: endpoint@3 {
							status = "okay";
						};
					};
				};
			};
		};
	};

	cam_i2cmux{
		status = "okay";//
		mux-gpios = <&tegra_main_gpio CAM_I2C_MUX GPIO_ACTIVE_HIGH>;
		i2c@0 {
			status = "okay";//
			imx219_cam0: rbpcv2_imx219_a@10 {
				status = "okay";
			};
		};
		i2c@1 {
			status = "okay";//
			imx219_cam1: rbpcv2_imx219_c@10 {
				status = "okay";
			};
		};
	};

	gpio@2200000 {
		camera-control-output-low {
			status = "okay";//
		};
	};

	tegra-camera-platform {
		modules {
			cam_module0: module0 {	
				status = "okay";
				badge = "jakku_front_RBP194";
				position = "front";
				orientation = "1";

				cam_module0_drivernode0: drivernode0 {
					status = "okay";
					pcl_id = "v4l2_sensor";
					devname = "imx219 9-0010";
					proc-device-tree = "/proc/device-tree/cam_i2cmux/i2c@0/rbpcv2_imx219_a@10";
				};
			};
			cam_module1: module1 {
				status = "okay";
				badge = "jakku_rear_RBP194";
				position = "rear";
				orientation = "1";

				cam_module1_drivernode0: drivernode0 {
					status = "okay";
					pcl_id = "v4l2_sensor";
					devname = "imx219 10-0010";
					proc-device-tree = "/proc/device-tree/cam_i2cmux/i2c@1/rbpcv2_imx219_c@10";
				};
			};
		};
	};

	spi@3210000{ // SPI0 with CS0 on expansion connector
		status = "okay";
		nvidia,clock-always-on;
		spi@0 {
			status = "okay";
			compatible = "spidev";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			nvidia,enable-hw-based-cs;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};

	serial@3110000 { // UART0 (uartb) on expansion connector
		status = "okay";
	};


/*
	pwm-fan {
		status = "disabled";
	};
*/
};
