/*
 * Top level DTS file for CVM:P3767-0000 and CVB:RAIBOARD-ORNX.
 *
 * Copyright (c) 2021-2022, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;

#include "tegra234-dcb-p3767-0000-hdmi.dtsi"
#include <tegra234-soc/mods-simple-bus.dtsi>
#include <t234-common-cvm/tegra234-thermal.dtsi>
#include <t234-common-cvm/tegra234-cpuidle.dtsi>
#include <t234-common-cvm/tegra234-thermal-cooling.dtsi>
#include <t234-common-cvm/tegra234-thermal-userspace-alert.dtsi>
#include "cvm/tegra234-p3767-0000.dtsi"
#include "cvb/tegra234-p3768-0000-a0-raiboard.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;
	compatible = "nvidia,p3768-0000+p3767-0000", "nvidia,tegra234", "nvidia,tegra23x";
	model = "Orin NX 16GB for RAIBOARD-ORNX";

	fixed-regulators {
		regulator@102 { //p3768_vdd_1v8
			//vin-supply = <&p3768_vdd_3v3_sys>;
			/delete-property/ vin-supply;
		};
	};

	pcie@141e0000 { /* C7x1 node */
		status = "okay";
		num-lanes = <1>;
		phys = <&p2u_gbe_0>;
		phy-names = "p2u-0";
	};

	pcie@140c0000 { /* C9x1 node */
		status = "okay";
		num-lanes = <1>;
		phys = <&p2u_gbe_1>;
		phy-names = "p2u-0";
	};

	i2c@3160000 {
		tmp102: tmp102@49 { // Temperature Sensor
			compatible = "ti,tmp102";
			reg = <0x49>;
			#thermal-sensor-cells = <0>;
		};
	};

	i2c@c250000 {
		iam20680@68 {
			compatible = "invensense,iam20680";
			reg = <0x68>;
			interrupt-parent = <&tegra_main_gpio>;
			interrupts = <TEGRA234_MAIN_GPIO(Y, 6) IRQ_TYPE_LEVEL_LOW>; //Unused pin
			mount-matrix = "-0.984807753012208", "0", "-0.173648177666930", "0", "-1", "0", "-0.173648177666930", "0", "0.984807753012208"; // x0,y0,z0, x1,y1,z1, x2,y2,z2
		};
	};

	xusb_padctl: xusb_padctl@3520000 {
		ports {
			usb3-0 {
				nvidia,usb2-companion = <1>;
				status = "okay";
			};
			usb3-1 {
				//nvidia,usb2-companion = <0>;
				nvidia,usb2-companion = <1>;
				status = "okay";
			};
			usb3-2 {
				//nvidia,usb2-companion = <2>;
				nvidia,usb2-companion = <1>;
				status = "okay";
			};
		};
	};

	xudc@3550000 {
		/delete-property/ charger-detector;
	};

	/delete-node/ usb_cd;

	clocks {
		can_clock: can_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <20000000>;
			clock-accuracy = <100>;
		};
	};
	spi@3210000{ // SPI0 with CS0 for SPI2CAN
		status = "okay";
		nvidia,clock-always-on;
		spi@0 {
			status = "disabled";
		};
		spi@1 {
			status = "disabled";
		};
		can@1 {
			status = "okay";
			compatible = "microchip,mcp2515";
			reg = <0x0>;
			spi-max-frequency = <10000000>;
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x7>;
			clocks = <&can_clock>;
			interrupt-parent = <&tegra_main_gpio>;
			interrupts = <TEGRA234_MAIN_GPIO(Y, 6) IRQ_TYPE_NONE>; //Unused pin
			controller-data {
				nvidia,cs-setup-clk-count = <0x1e>;
				nvidia,cs-hold-clk-count = <0x1e>;
				nvidia,rx-clk-tap-delay = <0x1f>;
				nvidia,tx-clk-tap-delay = <0x0>;
			};
		};
	};
	spi@3230000{
		status = "disabled";
	};


	serial@3100000 { // UART1 (uarta) Channel-1
		status = "okay";
	};

	serial@3110000 { // UART0 (uartb) Channel-0
		status = "okay";
	};

};
