/*
 * Top level DTS file for CVM:P3701-0004 and CVB:MILBOARD-AGX.
 *
 * Copyright (c) 2022-2023, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;
#include "tegra234-p3701-0000-prod.dtsi"
#include "cvm/tegra234-p3701-0000.dtsi"
#include "cvb/tegra234-p3737-0000-a04.dtsi"
#include "tegra234-power-tree-p3701-0000-p3737-0000.dtsi"
#include "tegra234-dcb-p3701-0000-a02-p3737-0000-a01_hdmi.dtsi"
#include <tegra234-soc/mods-simple-bus.dtsi>

#include <t234-common-cvm/tegra234-cpuidle.dtsi>
#include <t234-common-cvm/tegra234-thermal.dtsi>
#include <t234-common-cvm/tegra234-thermal-cooling.dtsi>
#include <t234-common-cvm/tegra234-thermal-userspace-alert.dtsi>
#include <tegra234-soc/tegra234-soc-hwpm.dtsi>


/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;
	model = "Jetson AGX Orin for MILBOARD-AGX";

	compatible = "nvidia,p3737-0000+p3701-0004", "nvidia,tegra234", "nvidia,tegra23x";

	fixed-regulators {
		p3737_vdd_3v3_pcie: regulator@105 {
			gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(H, 4) 0>;
			/delete-property/ regulator-boot-on;
		};
		p3737_vdd_12v_pcie: regulator@114 {
			/delete-property/ regulator-boot-on;
		};
	};

	i2c@c240000 {
		ucsi_ccg@8 {
			status = "disabled";
			connector@0 {
				/delete-node/ port;
			};

			connector@1 {
				/delete-node/ port;
			};
		};
		tmp102: tmp102@49 { // Temperature Sensor
			compatible = "ti,tmp102";
			reg = <0x49>;
			#thermal-sensor-cells = <0>;
		};
	};

	pcie@14180000 { // PCIe x1 (C0)
		status = "okay";
		phys = <&p2u_hsio_0>;
		phy-names = "p2u-0";
	};

	pcie@14100000 { // PCIe x1 (C1)
		status = "okay";
		//nvidia,disable-clock-request; // no CLKREQ signal route from i210 to C1
		nvidia,max-speed = <2>; // i210 is GEN2
	};

	pcie@14160000 { //* PCIe x4 (C4)
		status = "okay";
	};

	pcie@141a0000 { // PCIe x8 (C5)
		status = "okay";
		nvidia,max-speed = <2>;
		/delete-property/ vpcie3v3-supply;
		/delete-property/ vpcie12v-supply;
	};

	pcie_ep@141a0000 {
		status = "disabled";
		nvidia,max-speed = <2>;
	};

	pcie@141e0000 { // PCIe x8 (C7)
		status = "okay";
		num-lanes = <8>;
		phys = <&p2u_gbe_0>, <&p2u_gbe_1>, <&p2u_gbe_2>, <&p2u_gbe_3>,
		       <&p2u_gbe_4>, <&p2u_gbe_5>, <&p2u_gbe_6>, <&p2u_gbe_7>;
		phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3", "p2u-4",
			    "p2u-5", "p2u-6", "p2u-7";
	};

	/delete-node/ ethernet@6810000;

	ethernet@6810000 {
		status = "disabled";
	};

	ethernet@6910000 {
		status = "disabled";
	};

	ethernet@6A10000 {
		status = "disabled";
	};

	ethernet@6B10000 {
		status = "disabled";
	};

        /* EQOS */
	ethernet@2310000 {
		status = "okay";

		nvidia,mac-addr-idx = <0>;
		nvidia,pause_frames = <0>;
		local-mac-address = [1a 2b 3c 4d 5e 6f];
		nvidia,phy-reset-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(G, 5) 0>;
		phy-mode = "rgmii-id";
		phy-handle = <&phy>;
		nvidia,max-platform-mtu = <16383>; //8000

		mdio {
			compatible = "nvidia,eqos-mdio";
			#address-cells = <1>;
			#size-cells = <0>;

			phy: phy@0 {
				reg = <0>; //<1>;
				nvidia,phy-rst-pdelay-msec = <224>; /* msec */
				nvidia,phy-rst-duration-usec = <10000>; /* usec */
				interrupt-parent = <&tegra_main_gpio>;
				interrupts = <TEGRA234_MAIN_GPIO(G, 4) IRQ_TYPE_LEVEL_LOW>;
				marvell,copper-mode;
				/* Setup LED[2] as interrupt pin (active low) */
				marvell,reg-init = <0x03 0x12 0x7fff 0x880>;
			};
		};
	};

	fixed-regulators {
		regulator@3 {
			regulator-boot-on;
		};
	};


	xusb_padctl@3520000 {

		ports {
			usb2-0 {
				status = "okay";
				vbus-supply = <&battery_reg>;
				mode = "host";
				/delete-property/ usb-role-switch;
				/delete-node/ port;
			};
			usb2-3 {
				status = "okay";
				vbus-supply = <&battery_reg>;
				mode = "host";
			};
		};
	};

	xudc@3550000 {
		phy-names = "usb2", "usb3";
		/delete-property/  extcon-cables;
		/delete-property/  extcon-cable-names;
		/delete-property/  #extcon-cells;
	};

	xhci@3610000 {
		/delete-property/  extcon-cables;
		/delete-property/  extcon-cable-names;
		/delete-property/  #extcon-cells;
	};

	/delete-node/ tegra_usb_cd;

	fixed-regulators {
		regulator@116 {
			//gpio = <&tegra_aon_gpio TEGRA234_AON_GPIO(CC, 2) 0>; //CAM_INT3, GPIO_ACTIVE_HIGH == 0
			gpio = <&tegra_aon_gpio TEGRA234_AON_GPIO(AA, 5) 0>;
		};
	};

	spi@c260000 {
		status = "okay";

		spi@0 {
			status = "okay";
			compatible = "tegra-spidev";
			reg = <0x0>;
			spi-max-frequency = <20000000>;

			controller-data {
				nvidia,enable-hw-based-cs;
				nvidia,rx-clk-tap-delay = <0x10>;
				nvidia,tx-clk-tap-delay = <0x0>;
			};
		};
	};

	nvsciipc-kernel {
		compatible = "nvidia,nvsciipc";
		status = "okay";
	};

	firmware {
		android {
			compatible = "android,firmware";
			first_stage_delay = "1";
			system_root_blkdev = "/dev/mmcblk0p1";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/3460000.sdhci/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,noatime";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	display@13800000 {
		status = "okay";
	};

	dce@d800000 {
		status = "okay";
	};

	bpmp {
		i2c {
			tegra_tmp451: temp-sensor@4c {
				vdd-supply = <&p3737_vdd_1v8_sys>;

				ext {
					shutdown-limit = <107>;
				};
			};

			vrs11_1@20 {
				compatible = "nvidia,vrs11";
				reg = <0x20>;
				rail-name-loopA = "GPU";
				rail-name-loopB = "CPU";
				status = "okay";
			};

			vrs11_2@22 {
				compatible = "nvidia,vrs11";
				reg = <0x22>;
				rail-name-loopA = "SOC";
				rail-name-loopB = "CV";
				status = "okay";
			};
		};
	};

	reserved-memory {
		linux,cma {
			status = "okay";
		};
	};

	tegra_soc_hwpm {
                status = "okay";
        };

	tegra-hsp@3d00000 {
		status = "okay";
	};

	aon@c000000 {
		status = "okay";
	};

	cpu_alert: cpu-throttle-alert {
		status = "okay";
	};

	gpu_alert: gpu-throttle-alert {
		status = "okay";
	};

	cv0_alert: cv0-throttle-alert {
		status = "okay";
	};

	cv1_alert: cv1-throttle-alert {
		status = "okay";
	};

	cv2_alert: cv2-throttle-alert {
		status = "okay";
	};

	soc0_alert: soc0-throttle-alert {
		status = "okay";
	};

	soc1_alert: soc1-throttle-alert {
		status = "okay";
	};

	soc2_alert: soc2-throttle-alert {
		status = "okay";
	};

	hot_surface_alert: hot-surface-alert {
		status = "okay";
	};

	stm@24080000 {
		status = "disabled";
	};

	cpu0_etm@27040000 {
		status = "disabled";
	};

	cpu1_etm@27140000 {
		status = "disabled";
	};

	cpu2_etm@27240000 {
		status = "disabled";
	};

	cpu3_etm@27340000 {
		status = "disabled";
	};

	cpu4_etm@27440000 {
		status = "disabled";
	};

	cpu5_etm@27540000 {
		status = "disabled";
	};

	cpu6_etm@27640000 {
		status = "disabled";
	};

	cpu7_etm@27740000 {
		status = "disabled";
	};

	cpu8_etm@27840000 {
		status = "disabled";
	};

	cpu9_etm@27940000 {
		status = "disabled";
	};

	cpu10_etm@27A40000 {
		status = "disabled";
	};

	cpu11_etm@27B40000 {
		status = "disabled";
	};

	funnel_ccplex0@26030000 {
		status = "disabled";
	};

	funnel_ccplex1@26040000 {
		status = "disabled";
	};

	funnel_ccplex2@26050000 {
		status = "disabled";
	};

	funnel_top_ccplex@26020000 {
		status = "disabled";
	};

	funnel_major@24040000 {
		status = "disabled";
	};

	replicator@24060000 {
		status = "disabled";
	};

	etf@24050000 {
		status = "disabled";
	};

	etr@24070000 {
		status = "disabled";
	};

	serial@31d0000 {
		status = "okay";
	};
};
