/*
 * Copyright (c) 2015-2019, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/ {
	host1x {
		vi@15c10000 {
			num-channels = <6>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					status = "okay";
					reg = <0>;
					dsboard_xv2_vi_in0: endpoint {
						status = "okay";
						port-index = <0>;
						bus-width = <2>;
						remote-endpoint = <&dsboard_xv2_csi_out0>;
					};
				};
				port@1 {
					status = "disabled";
					reg = <1>;
					dsboard_xv2_vi_in1: endpoint {
						status = "disabled";
						port-index = <1>;
						bus-width = <2>;
						remote-endpoint = <&dsboard_xv2_csi_out1>;
					};
				};
				port@2 {
					status = "okay";
					reg = <2>;
					dsboard_xv2_vi_in2: endpoint {
						status = "okay";
						port-index = <2>;
						bus-width = <2>;
						remote-endpoint = <&dsboard_xv2_csi_out2>;
					};
				};
				port@3 {
					status = "disabled";
					reg = <3>;
					dsboard_xv2_vi_in3: endpoint {
						status = "disabled";
						port-index = <3>;
						bus-width = <2>;
						remote-endpoint = <&dsboard_xv2_csi_out3>;
					};
				};
				port@4 {
					status = "okay";
					reg = <4>;
					dsboard_xv2_vi_in4: endpoint {
						status = "okay";
						port-index = <4>;
						bus-width = <2>;
						remote-endpoint = <&dsboard_xv2_csi_out4>;
					};
				};
				port@5 {
					status="disabled";
					reg = <5>;
					dsboard_xv2_vi_in5: endpoint {
						status="disabled";
						port-index = <5>;
						bus-width = <2>;
						remote-endpoint = <&dsboard_xv2_csi_out5>;
					};
				};
			};
		};

		nvcsi@15a00000 {
			num-channels = <6>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			channel@0 {
				status = "okay";
				reg = <0>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status = "okay";
						reg = <0>;
						dsboard_xv2_csi_in0: endpoint@0 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&dsboard_xv2_ar0521_out0>;
						};
					};
					port@1 {
						status = "okay";
						reg = <1>;
						dsboard_xv2_csi_out0: endpoint@1 {
							status = "okay";
							remote-endpoint = <&dsboard_xv2_vi_in0>;
						};
					};
				};
			};
			channel@1 {
				status = "disabled";
				reg = <1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status = "disabled";
						reg = <0>;
						dsboard_xv2_csi_in1: endpoint@2 {
							status = "disabled";
							port-index = <1>;
							bus-width = <2>;
							remote-endpoint = <&dsboard_xv2_ar0521_out1>;
						};
					};
					port@1 {
						status = "disabled";
						reg = <1>;
						dsboard_xv2_csi_out1: endpoint@3 {
							status = "disabled";
							remote-endpoint = <&dsboard_xv2_vi_in1>;
						};
					};
				};
			};
			channel@2 {
				status = "okay";
				reg = <2>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status = "okay";
						reg = <0>;
						dsboard_xv2_csi_in2: endpoint@4 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&dsboard_xv2_ar0521_out2>;
						};
					};
					port@1 {
						status = "okay";
						reg = <1>;
						dsboard_xv2_csi_out2: endpoint@5 {
							status = "okay";
							remote-endpoint = <&dsboard_xv2_vi_in2>;
						};
					};
				};
			};
			channel@3 {
				status = "disabled";
				reg = <3>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status = "disabled";
						reg = <0>;
						dsboard_xv2_csi_in3: endpoint@6 {
							status = "disabled";
							port-index = <3>;
							bus-width = <2>;
							remote-endpoint = <&dsboard_xv2_ar0521_out3>;
						};
					};
					port@1 {
						status = "disabled";
						reg = <1>;
						dsboard_xv2_csi_out3: endpoint@7 {
							status = "disabled";
							remote-endpoint = <&dsboard_xv2_vi_in3>;
						};
					};
				};
			};
			channel@4 {
				status = "okay";
				reg = <4>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status = "okay";
						reg = <0>;
						dsboard_xv2_csi_in4: endpoint@8 {
							status = "okay";
							port-index = <4>;
							bus-width = <2>;
							remote-endpoint = <&dsboard_xv2_ar0521_out4>;
						};
					};
					port@1 {
						status = "okay";
						reg = <1>;
						dsboard_xv2_csi_out4: endpoint@9 {
							status = "okay";
							remote-endpoint = <&dsboard_xv2_vi_in4>;
						};
					};
				};
			};
			channel@5 { //in next board revision, the port-index should be updated to 6-G.
				status="disabled";
				reg = <5>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status="disabled";
						reg = <0>;
						dsboard_xv2_csi_in5: endpoint@10 {
							status="disabled";
							port-index = <5>;
							bus-width = <2>;
							remote-endpoint = <&dsboard_xv2_ar0521_out5>;
						};
					};
					port@1 {
						status="disabled";
						reg = <1>;
						dsboard_xv2_csi_out5: endpoint@11 {
							status="disabled";
							remote-endpoint = <&dsboard_xv2_vi_in5>;
						};
					};
				};
			};
		};
	};

	i2c@3180000 {
		tca9548@70 {
			i2c@0 {
				status = "okay";

				ar0521_a@42 {
					compatible = "nvidia,ar0521";
					/* I2C device address */
					reg = <0x42>;

					/* V4L2 device node location */
					devnode = "video0";
					status = "okay";

					/* Physical dimensions of sensor */
					physical_w = "3.680";
					physical_h = "2.760";

					sensor_model = "ar0521";

					//Default use_sensor_mode_id is false
					/*use_sensor_mode_id = "false";*/
					camera_mipi_lanes = <2>;
					disable-framesync;

					/**
					* ==== Modes ====
					* A modeX node is required to support v4l2 driver
					* implementation with NVIDIA camera software stack
					*
					* == Signal properties ==
					*
					* phy_mode = "";
					* PHY mode used by the MIPI lanes for this device
					*
					* tegra_sinterface = "";
					* CSI Serial interface connected to tegra
					* Incase of virtual HW devices, use virtual
					* For SW emulated devices, use host
					*
					* pix_clk_hz = "";
					* Sensor pixel clock used for calculations like exposure and framerate
					*
					* readout_orientation = "0";
					* Based on camera module orientation.
					* Only change readout_orientation if you specifically
					* Program a different readout order for this mode
					*
					* == Image format Properties ==
					*
					* active_w = "";
					* Pixel active region width
					*
					* active_h = "";
					* Pixel active region height
					*
					* pixel_t = "";
					* The sensor readout pixel pattern
					*
					* line_length = "";
					* Pixel line length (width) for sensor mode.
					*
					* == Source Control Settings ==
					*
					* Gain factor used to convert fixed point integer to float
					* Gain range [min_gain/gain_factor, max_gain/gain_factor]
					* Gain step [step_gain/gain_factor is the smallest step that can be configured]
					* Default gain [Default gain to be initialized for the control.
					*     use min_gain_val as default for optimal results]
					* Framerate factor used to convert fixed point integer to float
					* Framerate range [min_framerate/framerate_factor, max_framerate/framerate_factor]
					* Framerate step [step_framerate/framerate_factor is the smallest step that can be configured]
					* Default Framerate [Default framerate to be initialized for the control.
					*     use max_framerate to get required performance]
					* Exposure factor used to convert fixed point integer to float
					* For convenience use 1 sec = 1000000us as conversion factor
					* Exposure range [min_exp_time/exposure_factor, max_exp_time/exposure_factor]
					* Exposure step [step_exp_time/exposure_factor is the smallest step that can be configured]
					* Default Exposure Time [Default exposure to be initialized for the control.
					*     Set default exposure based on the default_framerate for optimal exposure settings]
					*
					* gain_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_gain_val = ""; (ceil to integer)
					* max_gain_val = ""; (ceil to integer)
					* step_gain_val = ""; (ceil to integer)
					* default_gain = ""; (ceil to integer)
					* Gain limits for mode
					*
					* exposure_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_exp_time = ""; (ceil to integer)
					* max_exp_time = ""; (ceil to integer)
					* step_exp_time = ""; (ceil to integer)
					* default_exp_time = ""; (ceil to integer)
					* Exposure Time limits for mode (sec)
					*
					* framerate_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_framerate = ""; (ceil to integer)
					* max_framerate = ""; (ceil to integer)
					* step_framerate = ""; (ceil to integer)
					* default_framerate = ""; (ceil to integer)
					* Framerate limits for mode (fps)
					*
					* embedded_metadata_height = "";
					* Sensor embedded metadata height in units of rows.
					* If sensor does not support embedded metadata value should be 0.
					*/
					mode0 { /* AR0521_MODE_640x480_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						mode_type = "yuv";

						active_w = "640";
						active_h = "480";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /* 10.66x */
						step_gain_val = "1";
						default_gain = "16"; /* 1.00x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 21.0 fps */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "43000000"; /* us */

						embedded_metadata_height = "0";
					};
					mode1 { /* AR0521_MODE_1280x720_100FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "720";
						pixel_phase = "uyvy";
						mode_type = "yuv";
						/*pixel_t = "bayer_rggb";*/
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "100"; /* 28.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */

						embedded_metadata_height = "0";
					};
					mode2 { /* AR0521_MODE_1280x960_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "960";
						/*pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 75.0 fps */
						default_framerate = "30000000"; /* 30.0 fps */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						embedded_metadata_height = "0";
					};
					mode3 { /* AR0521_MODE_1920x1080_67FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1920";
						active_h = "1080";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";  /*dB*/
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "67"; /* 67.0 fps */

						min_exp_time = "1";
						max_exp_time = "430000";

						embedded_metadata_height = "0";
					};
					mode4 { /* Ar0521_MODE_2560x1440_38FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2560";
						active_h = "1440";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "38"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};
					mode5 { /* Ar0521_MODE_2592x1944_28FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2592";
						active_h = "1944";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "28"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							status = "okay";
							reg = <0>;
							dsboard_xv2_ar0521_out0: endpoint {
								status = "okay";
								port-index = <0>;
								bus-width = <2>;
								remote-endpoint = <&dsboard_xv2_csi_in0>;
							};
						};
					};
				};
			};

			i2c@1 {
				ar0521_b@42 {
					compatible = "nvidia,ar0521";
					/* I2C device address */
					reg = <0x42>;

					/* V4L2 device node location */
					devnode = "video1";
					status = "disabled";

					/* Physical dimensions of sensor */
					physical_w = "3.680";
					physical_h = "2.760";

					sensor_model = "ar0521";
					camera_mipi_lanes = <2>;
					disable-framesync;
					// Default use_sensor_mode_id is false
					/*use_sensor_mode_id = "false";*/

					/**
					* ==== Modes ====
					* A modeX node is required to support v4l2 driver
					* implementation with NVIDIA camera software stack
					*
					* == Signal properties ==
					*
					* phy_mode = "";
					* PHY mode used by the MIPI lanes for this device
					*
					* tegra_sinterface = "";
					* CSI Serial interface connected to tegra
					* Incase of virtual HW devices, use virtual
					* For SW emulated devices, use host
					*
					* pix_clk_hz = "";
					* Sensor pixel clock used for calculations like exposure and framerate
					*
					* readout_orientation = "0";
					* Based on camera module orientation.
					* Only change readout_orientation if you specifically
					* Program a different readout order for this mode
					*
					* == Image format Properties ==
					*
					* active_w = "";
					* Pixel active region width
					*
					* active_h = "";
					* Pixel active region height
					*
					* pixel_t = "";
					* The sensor readout pixel pattern
					*
					* line_length = "";
					* Pixel line length (width) for sensor mode.
					*
					* == Source Control Settings ==
					*
					* Gain factor used to convert fixed point integer to float
					* Gain range [min_gain/gain_factor, max_gain/gain_factor]
					* Gain step [step_gain/gain_factor is the smallest step that can be configured]
					* Default gain [Default gain to be initialized for the control.
					*     use min_gain_val as default for optimal results]
					* Framerate factor used to convert fixed point integer to float
					* Framerate range [min_framerate/framerate_factor, max_framerate/framerate_factor]
					* Framerate step [step_framerate/framerate_factor is the smallest step that can be configured]
					* Default Framerate [Default framerate to be initialized for the control.
					*     use max_framerate to get required performance]
					* Exposure factor used to convert fixed point integer to float
					* For convenience use 1 sec = 1000000us as conversion factor
					* Exposure range [min_exp_time/exposure_factor, max_exp_time/exposure_factor]
					* Exposure step [step_exp_time/exposure_factor is the smallest step that can be configured]
					* Default Exposure Time [Default exposure to be initialized for the control.
					*     Set default exposure based on the default_framerate for optimal exposure settings]
					*
					* gain_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_gain_val = ""; (ceil to integer)
					* max_gain_val = ""; (ceil to integer)
					* step_gain_val = ""; (ceil to integer)
					* default_gain = ""; (ceil to integer)
					* Gain limits for mode
					*
					* exposure_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_exp_time = ""; (ceil to integer)
					* max_exp_time = ""; (ceil to integer)
					* step_exp_time = ""; (ceil to integer)
					* default_exp_time = ""; (ceil to integer)
					* Exposure Time limits for mode (sec)
					*
					* framerate_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_framerate = ""; (ceil to integer)
					* max_framerate = ""; (ceil to integer)
					* step_framerate = ""; (ceil to integer)
					* default_framerate = ""; (ceil to integer)
					* Framerate limits for mode (fps)
					*
					* embedded_metadata_height = "";
					* Sensor embedded metadata height in units of rows.
					* If sensor does not support embedded metadata value should be 0.
					*/
					mode0 { /* AR0521_MODE_640x480_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						mode_type = "yuv";

						active_w = "640";
						active_h = "480";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /* 10.66x */
						step_gain_val = "1";
						default_gain = "16"; /* 1.00x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 21.0 fps */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "43000000"; /* us */

						embedded_metadata_height = "0";
					};
					mode1 { /* AR0521_MODE_1280x720_100FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "720";
						pixel_phase = "uyvy";
						mode_type = "yuv";
						/*pixel_t = "bayer_rggb";*/
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "100"; /* 28.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */

						embedded_metadata_height = "0";
					};
					mode2 { /* AR0521_MODE_1280x960_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "960";
						/*pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 75.0 fps */
						default_framerate = "30000000"; /* 30.0 fps */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						embedded_metadata_height = "0";
					};
					mode3 { /* AR0521_MODE_1920x1080_67FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1920";
						active_h = "1080";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";  /*dB*/
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "67"; /* 67.0 fps */

						min_exp_time = "1";
						max_exp_time = "430000";

						embedded_metadata_height = "0";
					};
					mode4 { /* Ar0521_MODE_2560x1440_38FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2560";
						active_h = "1440";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "38"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};
					mode5 { /* Ar0521_MODE_2592x1944_28FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2592";
						active_h = "1944";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "28"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							dsboard_xv2_ar0521_out1: endpoint {
								port-index = <1>;
								bus-width = <2>;
								remote-endpoint = <&dsboard_xv2_csi_in1>;
							};
						};
					};
				};
			};

			i2c@2 {
				ar0521_c@42 {
					compatible = "nvidia,ar0521";
					/* I2C device address */
					reg = <0x42>;

					/* V4L2 device node location */
					devnode = "video2";
					status = "okay";

					/* Physical dimensions of sensor */
					physical_w = "3.680";
					physical_h = "2.760";

					sensor_model = "ar0521";
					camera_mipi_lanes = <2>;
					disable-framesync;
					// Default use_sensor_mode_id is false
					/*use_sensor_mode_id = "false";*/

					/**
					* ==== Modes ====
					* A modeX node is required to support v4l2 driver
					* implementation with NVIDIA camera software stack
					*
					* == Signal properties ==
					*
					* phy_mode = "";
					* PHY mode used by the MIPI lanes for this device
					*
					* tegra_sinterface = "";
					* CSI Serial interface connected to tegra
					* Incase of virtual HW devices, use virtual
					* For SW emulated devices, use host
					*
					* pix_clk_hz = "";
					* Sensor pixel clock used for calculations like exposure and framerate
					*
					* readout_orientation = "0";
					* Based on camera module orientation.
					* Only change readout_orientation if you specifically
					* Program a different readout order for this mode
					*
					* == Image format Properties ==
					*
					* active_w = "";
					* Pixel active region width
					*
					* active_h = "";
					* Pixel active region height
					*
					* pixel_t = "";
					* The sensor readout pixel pattern
					*
					* line_length = "";
					* Pixel line length (width) for sensor mode.
					*
					* == Source Control Settings ==
					*
					* Gain factor used to convert fixed point integer to float
					* Gain range [min_gain/gain_factor, max_gain/gain_factor]
					* Gain step [step_gain/gain_factor is the smallest step that can be configured]
					* Default gain [Default gain to be initialized for the control.
					*     use min_gain_val as default for optimal results]
					* Framerate factor used to convert fixed point integer to float
					* Framerate range [min_framerate/framerate_factor, max_framerate/framerate_factor]
					* Framerate step [step_framerate/framerate_factor is the smallest step that can be configured]
					* Default Framerate [Default framerate to be initialized for the control.
					*     use max_framerate to get required performance]
					* Exposure factor used to convert fixed point integer to float
					* For convenience use 1 sec = 1000000us as conversion factor
					* Exposure range [min_exp_time/exposure_factor, max_exp_time/exposure_factor]
					* Exposure step [step_exp_time/exposure_factor is the smallest step that can be configured]
					* Default Exposure Time [Default exposure to be initialized for the control.
					*     Set default exposure based on the default_framerate for optimal exposure settings]
					*
					* gain_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_gain_val = ""; (ceil to integer)
					* max_gain_val = ""; (ceil to integer)
					* step_gain_val = ""; (ceil to integer)
					* default_gain = ""; (ceil to integer)
					* Gain limits for mode
					*
					* exposure_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_exp_time = ""; (ceil to integer)
					* max_exp_time = ""; (ceil to integer)
					* step_exp_time = ""; (ceil to integer)
					* default_exp_time = ""; (ceil to integer)
					* Exposure Time limits for mode (sec)
					*
					* framerate_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_framerate = ""; (ceil to integer)
					* max_framerate = ""; (ceil to integer)
					* step_framerate = ""; (ceil to integer)
					* default_framerate = ""; (ceil to integer)
					* Framerate limits for mode (fps)
					*
					* embedded_metadata_height = "";
					* Sensor embedded metadata height in units of rows.
					* If sensor does not support embedded metadata value should be 0.
					*/
					mode0 { /* AR0521_MODE_640x480_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						mode_type = "yuv";

						active_w = "640";
						active_h = "480";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /* 10.66x */
						step_gain_val = "1";
						default_gain = "16"; /* 1.00x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 21.0 fps */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "43000000"; /* us */

						embedded_metadata_height = "0";
					};
					mode1 { /* AR0521_MODE_1280x720_100FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "720";
						pixel_phase = "uyvy";
						mode_type = "yuv";
						/*pixel_t = "bayer_rggb";*/
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "100"; /* 28.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */

						embedded_metadata_height = "0";
					};
					mode2 { /* AR0521_MODE_1280x960_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "960";
						/*pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 75.0 fps */
						default_framerate = "30000000"; /* 30.0 fps */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						embedded_metadata_height = "0";
					};
					mode3 { /* AR0521_MODE_1920x1080_67FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1920";
						active_h = "1080";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";  /*dB*/
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "67"; /* 67.0 fps */

						min_exp_time = "1";
						max_exp_time = "430000";

						embedded_metadata_height = "0";
					};
					mode4 { /* Ar0521_MODE_2560x1440_38FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2560";
						active_h = "1440";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "38"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};
					mode5 { /* Ar0521_MODE_2592x1944_28FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2592";
						active_h = "1944";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "28"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							dsboard_xv2_ar0521_out2: endpoint {
								port-index = <2>;
								bus-width = <2>;
								remote-endpoint = <&dsboard_xv2_csi_in2>;
							};
						};
					};
				};
			};

			i2c@3 {
				ar0521_d@42 {
					compatible = "nvidia,ar0521";
					/* I2C device address */
					reg = <0x42>;

					/* V4L2 device node location */
					devnode = "video3";
					status = "disabled";

					/* Physical dimensions of sensor */
					physical_w = "3.680";
					physical_h = "2.760";

					sensor_model = "ar0521";
					camera_mipi_lanes = <2>;
					disable-framesync;
					// Default use_sensor_mode_id is false
					/*use_sensor_mode_id = "false";*/

					/**
					* ==== Modes ====
					* A modeX node is required to support v4l2 driver
					* implementation with NVIDIA camera software stack
					*
					* == Signal properties ==
					*
					* phy_mode = "";
					* PHY mode used by the MIPI lanes for this device
					*
					* tegra_sinterface = "";
					* CSI Serial interface connected to tegra
					* Incase of virtual HW devices, use virtual
					* For SW emulated devices, use host
					*
					* pix_clk_hz = "";
					* Sensor pixel clock used for calculations like exposure and framerate
					*
					* readout_orientation = "0";
					* Based on camera module orientation.
					* Only change readout_orientation if you specifically
					* Program a different readout order for this mode
					*
					* == Image format Properties ==
					*
					* active_w = "";
					* Pixel active region width
					*
					* active_h = "";
					* Pixel active region height
					*
					* pixel_t = "";
					* The sensor readout pixel pattern
					*
					* line_length = "";
					* Pixel line length (width) for sensor mode.
					*
					* == Source Control Settings ==
					*
					* Gain factor used to convert fixed point integer to float
					* Gain range [min_gain/gain_factor, max_gain/gain_factor]
					* Gain step [step_gain/gain_factor is the smallest step that can be configured]
					* Default gain [Default gain to be initialized for the control.
					*     use min_gain_val as default for optimal results]
					* Framerate factor used to convert fixed point integer to float
					* Framerate range [min_framerate/framerate_factor, max_framerate/framerate_factor]
					* Framerate step [step_framerate/framerate_factor is the smallest step that can be configured]
					* Default Framerate [Default framerate to be initialized for the control.
					*     use max_framerate to get required performance]
					* Exposure factor used to convert fixed point integer to float
					* For convenience use 1 sec = 1000000us as conversion factor
					* Exposure range [min_exp_time/exposure_factor, max_exp_time/exposure_factor]
					* Exposure step [step_exp_time/exposure_factor is the smallest step that can be configured]
					* Default Exposure Time [Default exposure to be initialized for the control.
					*     Set default exposure based on the default_framerate for optimal exposure settings]
					*
					* gain_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_gain_val = ""; (ceil to integer)
					* max_gain_val = ""; (ceil to integer)
					* step_gain_val = ""; (ceil to integer)
					* default_gain = ""; (ceil to integer)
					* Gain limits for mode
					*
					* exposure_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_exp_time = ""; (ceil to integer)
					* max_exp_time = ""; (ceil to integer)
					* step_exp_time = ""; (ceil to integer)
					* default_exp_time = ""; (ceil to integer)
					* Exposure Time limits for mode (sec)
					*
					* framerate_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_framerate = ""; (ceil to integer)
					* max_framerate = ""; (ceil to integer)
					* step_framerate = ""; (ceil to integer)
					* default_framerate = ""; (ceil to integer)
					* Framerate limits for mode (fps)
					*
					* embedded_metadata_height = "";
					* Sensor embedded metadata height in units of rows.
					* If sensor does not support embedded metadata value should be 0.
					*/
					mode0 { /* AR0521_MODE_640x480_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						mode_type = "yuv";

						active_w = "640";
						active_h = "480";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /* 10.66x */
						step_gain_val = "1";
						default_gain = "16"; /* 1.00x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 21.0 fps */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "43000000"; /* us */

						embedded_metadata_height = "0";
					};
					mode1 { /* AR0521_MODE_1280x720_100FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "720";
						pixel_phase = "uyvy";
						mode_type = "yuv";
						/*pixel_t = "bayer_rggb";*/
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "100"; /* 28.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */

						embedded_metadata_height = "0";
					};
					mode2 { /* AR0521_MODE_1280x960_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "960";
						/*pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 75.0 fps */
						default_framerate = "30000000"; /* 30.0 fps */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						embedded_metadata_height = "0";
					};
					mode3 { /* AR0521_MODE_1920x1080_67FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1920";
						active_h = "1080";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";  /*dB*/
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "67"; /* 67.0 fps */

						min_exp_time = "1";
						max_exp_time = "430000";

						embedded_metadata_height = "0";
					};
					mode4 { /* Ar0521_MODE_2560x1440_38FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2560";
						active_h = "1440";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "38"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};
					mode5 { /* Ar0521_MODE_2592x1944_28FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2592";
						active_h = "1944";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "28"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							dsboard_xv2_ar0521_out3: endpoint {
								port-index = <3>;
								bus-width = <2>;
								remote-endpoint = <&dsboard_xv2_csi_in3>;
							};
						};
					};
				};
			};

			i2c@4 {
				ar0521_e@42 {
					compatible = "nvidia,ar0521";
					/* I2C device address */
					reg = <0x42>;

					/* V4L2 device node location */
					devnode = "video4";
					status = "okay";

					/* Physical dimensions of sensor */
					physical_w = "3.680";
					physical_h = "2.760";

					sensor_model = "ar0521";
					camera_mipi_lanes = <2>;
					disable-framesync;
					// Default use_sensor_mode_id is false
					/*use_sensor_mode_id = "false";*/

					/**
					* ==== Modes ====
					* A modeX node is required to support v4l2 driver
					* implementation with NVIDIA camera software stack
					*
					* == Signal properties ==
					*
					* phy_mode = "";
					* PHY mode used by the MIPI lanes for this device
					*
					* tegra_sinterface = "";
					* CSI Serial interface connected to tegra
					* Incase of virtual HW devices, use virtual
					* For SW emulated devices, use host
					*
					* pix_clk_hz = "";
					* Sensor pixel clock used for calculations like exposure and framerate
					*
					* readout_orientation = "0";
					* Based on camera module orientation.
					* Only change readout_orientation if you specifically
					* Program a different readout order for this mode
					*
					* == Image format Properties ==
					*
					* active_w = "";
					* Pixel active region width
					*
					* active_h = "";
					* Pixel active region height
					*
					* pixel_t = "";
					* The sensor readout pixel pattern
					*
					* line_length = "";
					* Pixel line length (width) for sensor mode.
					*
					* == Source Control Settings ==
					*
					* Gain factor used to convert fixed point integer to float
					* Gain range [min_gain/gain_factor, max_gain/gain_factor]
					* Gain step [step_gain/gain_factor is the smallest step that can be configured]
					* Default gain [Default gain to be initialized for the control.
					*     use min_gain_val as default for optimal results]
					* Framerate factor used to convert fixed point integer to float
					* Framerate range [min_framerate/framerate_factor, max_framerate/framerate_factor]
					* Framerate step [step_framerate/framerate_factor is the smallest step that can be configured]
					* Default Framerate [Default framerate to be initialized for the control.
					*     use max_framerate to get required performance]
					* Exposure factor used to convert fixed point integer to float
					* For convenience use 1 sec = 1000000us as conversion factor
					* Exposure range [min_exp_time/exposure_factor, max_exp_time/exposure_factor]
					* Exposure step [step_exp_time/exposure_factor is the smallest step that can be configured]
					* Default Exposure Time [Default exposure to be initialized for the control.
					*     Set default exposure based on the default_framerate for optimal exposure settings]
					*
					* gain_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_gain_val = ""; (ceil to integer)
					* max_gain_val = ""; (ceil to integer)
					* step_gain_val = ""; (ceil to integer)
					* default_gain = ""; (ceil to integer)
					* Gain limits for mode
					*
					* exposure_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_exp_time = ""; (ceil to integer)
					* max_exp_time = ""; (ceil to integer)
					* step_exp_time = ""; (ceil to integer)
					* default_exp_time = ""; (ceil to integer)
					* Exposure Time limits for mode (sec)
					*
					* framerate_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_framerate = ""; (ceil to integer)
					* max_framerate = ""; (ceil to integer)
					* step_framerate = ""; (ceil to integer)
					* default_framerate = ""; (ceil to integer)
					* Framerate limits for mode (fps)
					*
					* embedded_metadata_height = "";
					* Sensor embedded metadata height in units of rows.
					* If sensor does not support embedded metadata value should be 0.
					*/
					mode0 { /* AR0521_MODE_640x480_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						mode_type = "yuv";

						active_w = "640";
						active_h = "480";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /* 10.66x */
						step_gain_val = "1";
						default_gain = "16"; /* 1.00x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 21.0 fps */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "43000000"; /* us */

						embedded_metadata_height = "0";
					};
					mode1 { /* AR0521_MODE_1280x720_100FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "720";
						pixel_phase = "uyvy";
						mode_type = "yuv";
						/*pixel_t = "bayer_rggb";*/
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "100"; /* 28.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */

						embedded_metadata_height = "0";
					};
					mode2 { /* AR0521_MODE_1280x960_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "960";
						/*pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 75.0 fps */
						default_framerate = "30000000"; /* 30.0 fps */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						embedded_metadata_height = "0";
					};
					mode3 { /* AR0521_MODE_1920x1080_67FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1920";
						active_h = "1080";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";  /*dB*/
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "67"; /* 67.0 fps */

						min_exp_time = "1";
						max_exp_time = "430000";

						embedded_metadata_height = "0";
					};
					mode4 { /* Ar0521_MODE_2560x1440_38FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2560";
						active_h = "1440";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "38"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};
					mode5 { /* Ar0521_MODE_2592x1944_28FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2592";
						active_h = "1944";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "28"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							dsboard_xv2_ar0521_out4: endpoint {
								port-index = <4>;
								bus-width = <2>;
								remote-endpoint = <&dsboard_xv2_csi_in4>;
							};
						};
					};
				};
			};

			i2c@5 {
				ar0521_f@42 {
					status="disabled";
					compatible = "nvidia,ar0521";
					/* I2C device address */
					reg = <0x42>;

					/* V4L2 device node location */
					devnode = "video5";

					/* Physical dimensions of sensor */
					physical_w = "3.680";
					physical_h = "2.760";

					sensor_model = "ar0521";
					camera_mipi_lanes = <2>;
					disable-framesync;
					// Default use_sensor_mode_id is false
					/*use_sensor_mode_id = "false";*/

					/**
					* ==== Modes ====
					* A modeX node is required to support v4l2 driver
					* implementation with NVIDIA camera software stack
					*
					* == Signal properties ==
					*
					* phy_mode = "";
					* PHY mode used by the MIPI lanes for this device
					*
					* tegra_sinterface = "";
					* CSI Serial interface connected to tegra
					* Incase of virtual HW devices, use virtual
					* For SW emulated devices, use host
					*
					* pix_clk_hz = "";
					* Sensor pixel clock used for calculations like exposure and framerate
					*
					* readout_orientation = "0";
					* Based on camera module orientation.
					* Only change readout_orientation if you specifically
					* Program a different readout order for this mode
					*
					* == Image format Properties ==
					*
					* active_w = "";
					* Pixel active region width
					*
					* active_h = "";
					* Pixel active region height
					*
					* pixel_t = "";
					* The sensor readout pixel pattern
					*
					* line_length = "";
					* Pixel line length (width) for sensor mode.
					*
					* == Source Control Settings ==
					*
					* Gain factor used to convert fixed point integer to float
					* Gain range [min_gain/gain_factor, max_gain/gain_factor]
					* Gain step [step_gain/gain_factor is the smallest step that can be configured]
					* Default gain [Default gain to be initialized for the control.
					*     use min_gain_val as default for optimal results]
					* Framerate factor used to convert fixed point integer to float
					* Framerate range [min_framerate/framerate_factor, max_framerate/framerate_factor]
					* Framerate step [step_framerate/framerate_factor is the smallest step that can be configured]
					* Default Framerate [Default framerate to be initialized for the control.
					*     use max_framerate to get required performance]
					* Exposure factor used to convert fixed point integer to float
					* For convenience use 1 sec = 1000000us as conversion factor
					* Exposure range [min_exp_time/exposure_factor, max_exp_time/exposure_factor]
					* Exposure step [step_exp_time/exposure_factor is the smallest step that can be configured]
					* Default Exposure Time [Default exposure to be initialized for the control.
					*     Set default exposure based on the default_framerate for optimal exposure settings]
					*
					* gain_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_gain_val = ""; (ceil to integer)
					* max_gain_val = ""; (ceil to integer)
					* step_gain_val = ""; (ceil to integer)
					* default_gain = ""; (ceil to integer)
					* Gain limits for mode
					*
					* exposure_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_exp_time = ""; (ceil to integer)
					* max_exp_time = ""; (ceil to integer)
					* step_exp_time = ""; (ceil to integer)
					* default_exp_time = ""; (ceil to integer)
					* Exposure Time limits for mode (sec)
					*
					* framerate_factor = ""; (integer factor used for floating to fixed point conversion)
					* min_framerate = ""; (ceil to integer)
					* max_framerate = ""; (ceil to integer)
					* step_framerate = ""; (ceil to integer)
					* default_framerate = ""; (ceil to integer)
					* Framerate limits for mode (fps)
					*
					* embedded_metadata_height = "";
					* Sensor embedded metadata height in units of rows.
					* If sensor does not support embedded metadata value should be 0.
					*/
					mode0 { /* AR0521_MODE_640x480_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						mode_type = "yuv";

						active_w = "640";
						active_h = "480";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /* 10.66x */
						step_gain_val = "1";
						default_gain = "16"; /* 1.00x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 21.0 fps */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "43000000"; /* us */

						embedded_metadata_height = "0";
					};
					mode1 { /* AR0521_MODE_1280x720_100FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "720";
						pixel_phase = "uyvy";
						mode_type = "yuv";
						/*pixel_t = "bayer_rggb";*/
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "100"; /* 28.0 fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */

						embedded_metadata_height = "0";
					};
					mode2 { /* AR0521_MODE_1280x960_75FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						csi_pixel_bit_depth = "16";
						active_w = "1280";
						active_h = "960";
						/*pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0"; /* 1.00x */
						max_gain_val = "48"; /* 10.66x */
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 2.0 fps */
						max_framerate = "75"; /* 75.0 fps */
						default_framerate = "30000000"; /* 30.0 fps */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						embedded_metadata_height = "0";
					};
					mode3 { /* AR0521_MODE_1920x1080_67FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "1920";
						active_h = "1080";
						/* pixel_t = "uyvy";*/
						pixel_phase = "uyvy";
						mode_type = "yuv";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";  /*dB*/
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "67"; /* 67.0 fps */

						min_exp_time = "1";
						max_exp_time = "430000";

						embedded_metadata_height = "0";
					};
					mode4 { /* Ar0521_MODE_2560x1440_38FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2560";
						active_h = "1440";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "38"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};
					mode5 { /* Ar0521_MODE_2592x1944_28FPS */
						mclk_khz = "48000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";
						dynamic_pixel_bit_depth = "16";
						csi_pixel_bit_depth = "16";
						active_w = "2592";
						active_h = "1944";
						/* pixel_t = "uyvy"; */
						mode_type = "yuv";
						pixel_phase = "uyvy";
						readout_orientation = "0";
						line_length = "2000";
						inherent_gain = "1";
						mclk_multiplier = "18";
						pix_clk_hz = "1200000000";

						min_gain_val = "0";
						max_gain_val = "48"; /*dB*/
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1"; /* 1 fps */
						max_framerate = "28"; /* 38fps */
						min_exp_time = "1"; /* us */
						max_exp_time = "430000"; /* us */
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							dsboard_xv2_ar0521_out5: endpoint {
								port-index = <5>;
								bus-width = <2>;
								remote-endpoint = <&dsboard_xv2_csi_in5>;
							};
						};
					};
				};
			};
		};
	};

	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";
		/**
		* Physical settings to calculate max ISO BW
		*
		* num_csi_lanes = <>;
		* Total number of CSI lanes when all cameras are active
		*
		* max_lane_speed = <>;
		* Max lane speed in Kbit/s
		*
		* min_bits_per_pixel = <>;
		* Min bits per pixel
		*
		* vi_peak_byte_per_pixel = <>;
		* Max byte per pixel for the VI ISO case
		*
		* vi_bw_margin_pct = <>;
		* Vi bandwidth margin in percentage
		*
		* max_pixel_rate = <>;
		* Max pixel rate in Kpixel/s for the ISP ISO case
		* Set this to the highest pix_clk_hz out of all available modes.
		*
		* isp_peak_byte_per_pixel = <>;
		* Max byte per pixel for the ISP ISO case
		*
		* isp_bw_margin_pct = <>;
		* Isp bandwidth margin in percentage
		*/
		num_csi_lanes = <10>;
		max_lane_speed = <2500000>;
		min_bits_per_pixel = <10>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <67>;
		//max_pixel_rate = <240000>;
		//isp_peak_byte_per_pixel = <5>;
		//isp_bw_margin_pct = <25>;

		/**
		* The general guideline for naming badge_info contains 3 parts, and is as follows,
		* The first part is the camera_board_id for the module; if the module is in a FFD
		* platform, then use the platform name for this part.
		* The second part contains the position of the module, ex. “rear” or “front”.
		* The third part contains the last 6 characters of a part number which is found
		* in the module's specsheet from the vender.
		*/
		modules {
			module0 {
				status = "okay";
				badge = "dsboard_xv2_bottomleft_ar0521";
				position = "bottomleft";
				orientation = "1";
				drivernode0 {
					status = "okay";
					pcl_id = "v4l2_sensor";
					devname = "ar0521 30-0042";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@70/i2c@0/ar0521_a@42";
				};
			};
			module1 {
				status = "disabled";
				badge = "dsboard_xv2_centerleft_ar0521";
				position = "centerleft";
				orientation = "1";
				drivernode0 {
					status = "disabled";
					pcl_id = "v4l2_sensor";
					devname = "ar0521 31-0042";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@70/i2c@1/ar0521_b@42";
				};
			};
			module2 {
				status = "okay";
				badge = "dsboard_xv2_centerright_ar0521";
				position = "centerright";
				orientation = "1";
				drivernode0 {
					status = "okay";
					pcl_id = "v4l2_sensor";
					devname = "ar0521 32-0042";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@70/i2c@2/ar0521_c@42";
				};
			};
			module3 {
				status = "disabled";
				badge = "dsboard_xv2_topleft_ar0521";
				position = "topleft";
				orientation = "1";
				drivernode0 {
					status = "disabled";
					pcl_id = "v4l2_sensor";
					devname = "ar0521 33-0042";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@70/i2c@3/ar0521_d@42";
				};
			};
			module4 {
				status = "okay";
				badge = "dsboard_xv2_bottomright_ar0521";
				position = "bottomright";
				orientation = "1";
				drivernode0 {
					status = "okay";
					pcl_id = "v4l2_sensor";
					devname = "ar0521 34-0042";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@70/i2c@4/ar0521_e@42";
				};
			};
			module5 {
				status = "disabled";
				badge = "dsboard_xv2_topright_ar0521";
				position = "topright";
				orientation = "1";
				drivernode0 {
					status = "disabled";
					pcl_id = "v4l2_sensor";
					devname = "ar0521 35-0042";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@70/i2c@5/ar0521_f@42";
				};
			};
		};
	};
};
