/*
 * Copyright (c) 2022, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "tegra234-camera-dsboard-ornx-imx219.dtsi"

#define CAM0_PWDN	TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_PWDN	TEGRA234_MAIN_GPIO(AC, 0)
#define CAM2_PWDN	TEGRA234_AON_GPIO(CC, 1) // GPIO04
#define CAM3_PWDN	TEGRA234_AON_GPIO(EE, 2) // GPIO10
#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)

// CAM0_MCLK - Pin_116 - GPIO(P, 0)
// CAM1_MCLK - Pin_122 - GPIO(P, 1)
// CAM2_MCLK - GPIO02 - GPIO(Q, 5)
// CAM3_MCLK - GPIO11 - GPIO(Q, 6)


/ {
	i2c@3180000 {
		pca9544a_70: pca9544a@70 {
			status = "okay";
			compatible = "nxp,pca9544";
			reg = <0x70>;
			#address-cells = <1>;
			#size-cells = <0>;
			vcc-supply = <&p3768_vdd_1v8>;
			skip_mux_detect;
			force_bus_start = <CAMERA_I2C_MUX_BUS(0)>;
			i2c@0 {
				//status="disabled";

				reg = <0>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				imx219_a@10 {
					reset-gpios = <&tegra_main_gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;
				};
			};
			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				imx219_b@10 {
					reset-gpios = <&tegra_main_gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;
				};
			};
			i2c@2 {
				//status="disabled";

				reg = <2>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				imx219_c@10 {
					reset-gpios = <&tegra_aon_gpio CAM2_PWDN GPIO_ACTIVE_HIGH>;
				};
			};
			i2c@3 {
				reg = <3>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				imx219_d@10 {
					reset-gpios = <&tegra_aon_gpio CAM3_PWDN GPIO_ACTIVE_HIGH>;
				};
			};
		};
	};
};
