/*
 * Top level DTS file for CVM:P2888-0001 and CVB:MILBOARD-AGX
 *
 * Copyright (c) 2020-2021, Mist Elektronik Biyomedikal Ltd. Şti.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */
#include "common/tegra194-p2888-0001-p2822-0000-common.dtsi"
#include "common/tegra194-p2822-camera-modules.dtsi"
#include "t19x-common-modules/tegra194-camera-plugin-manager.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;
	model = "Jetson AGX Xavier for MILBOARD-AGX";

	i2c@c240000 {
		ucsi_ccg@8 {
			status = "disabled";
		};
		tmp102: tmp102@49 { // Temperature Sensor
			compatible = "ti,tmp102";
			reg = <0x49>;
			#thermal-sensor-cells = <0>;
		};
	};

	i2c@c250000 {
		rt5659.7-001a@1a {
			status = "disabled";
		};
	};

	sound {
		status = "disabled";
	};

	host1x {

		nvdisplay@15200000 {
			/delete-property/  extcon-cables;
			/delete-property/  extcon-cable-names;
			/delete-property/  #extcon-cells;
		};

		nvdisplay@15210000 {
			/delete-property/  extcon-cables;
			/delete-property/  extcon-cable-names;
			/delete-property/  #extcon-cells;
			status="disabled";
		};

		nvdisplay@15220000 {
			/delete-property/  extcon-cables;
			/delete-property/  extcon-cable-names;
			/delete-property/  #extcon-cells;
			status="disabled";
		};

		sor {
			status = "disabled";
			/delete-property/  nvidia,typec-port;


			dp-display {
				status = "disabled";
			};
		};

		sor1 {
			status = "disabled";
			/delete-property/  nvidia,typec-port;

			dp-display {
				status = "disabled";
			};
		};

	};

	external-connection {
		vbus_id_extcon: extcon@1 {
			compatible = "extcon-gpio-states";
			reg = <0x1>;
			extcon-gpio,name = "VBUS";
			extcon-gpio,cable-states = <
						0x0 0x1
						0x1 0x0>;
			gpios = <&tegra_main_gpio TEGRA194_MAIN_GPIO(T, 7) 0>; // unused GPIO
			extcon-gpio,out-cable-names = <EXTCON_USB EXTCON_USB_HOST EXTCON_NONE>;
			wakeup-source;
			#extcon-cells = <1>;
		};
	};

	xusb_padctl@3520000 {

		ports {
			usb2-0 {
				status = "okay";
				mode = "otg";
			};
			usb2-3 {
				status = "okay";
				vbus-supply = <&battery_reg>;
				mode = "host";
			};
		};
	};

	xudc@3550000 {
		extcon-cables = <&vbus_id_extcon 0>;
		extcon-cable-names = "vbus";
		#extcon-cells = <1>;
	};

	xhci@3610000 {
		extcon-cables = <&vbus_id_extcon 1>;
		extcon-cable-names = "id";
		#extcon-cells = <1>;
	};

	/delete-node/ usb_cd;

	fixed-regulators {
		regulator@114 {
			/delete-property/	gpio;
			/delete-property/	enable-active-high;
		};

		regulator@0 {
			/delete-property/	regulator-always-on;
			gpio = <&tegra_main_gpio TEGRA194_MAIN_GPIO(Z, 1) 0x0>;
			enable-active-high;
		};
	};

	pcie@14180000 { // PCIe x4 (C0)
		nvidia,max-speed = <3>;
	};

	pcie@14100000 { // PCIe x1 (C1)
		status = "okay";
	};

	pcie@14140000 { // PCIe x1 (C3)
		nvidia,max-speed = <3>;
	};

	pcie@14160000 { // PCIe x2 (C4)
		status = "okay";
		nvidia,max-speed = <3>;

		vddio-pex-ctl-supply = <&p2888_spmic_sd3>;
		nvidia,disable-aspm-states = <0xf>;
		nvidia,enable-power-down;
		nvidia,disable-clock-request;

		phys = <&p2u_8>, <&p2u_9>;
		phy-names = "pcie-p2u-0", "pcie-p2u-1";
	};

	pcie@141a0000 { // PCIe x8 (C5)
		nvidia,max-speed = <2>;
	};

	pcie_ep@141a0000 {
		nvidia,max-speed = <2>;
	};

	clocks-init {
		disable {
			/delete-property/ clocks;
		};
	};

};


